<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);return true;};
</script>
<div style="position:relative;width:auto;height:100%;overflow:hidden;">
<img src="" style="position:absolute;left:0px;top:0px;width:auto;height:%100">
</img>
</div>
<script>
frame = 0;

frameWidth = 0;
frameHeight = 0;

rows = 0;
columns = 0;

var img;

window.onload = f1;

function f1(){
a = window.location.href;
b = a.substring(a.split("?")[0].length + 1,a.length);
c = b.split("&");
img = 
document.getElementsByTagName("img")[0];
img.style.visibility = "hidden";
img.src = c[0];
d = c[1].split(",");

columns = d[0] * 1;
rows = d[1] * 1;

frameCount = d[2] * 1;

img.style.visibility = "hidden";
document.addEventListener('keydown',f2);
img.focus();
img.onload = function(){
img.height = screen.height * rows * 98 / 100;
frameWidth = img.width / columns;
frameHeight = img.height / rows;

document.getElementsByTagName("div")[0].style.width = frameWidth + "px";
document.getElementsByTagName("div")[0].style.height = frameHeight + "px";

f3(1);
f3(-1);

img.style.visibility = "visible";
};
}

function f2(e){
if(e.keyCode == 37)
f3(-1);
else if(e.keyCode == 39)
f3(1);
}

function f3(i){
window.scrollTo(0,0);

frame += i;
if (frame > frameCount - 1)
frame = 0;
else if (frame < 0)
frame = frameCount - 1;

x = frame % columns;
y = (frame - x) / rows;

img.style.left = (-x * frameWidth) + "px";
img.style.top = (-y * frameHeight) + "px";
}

</script>